:host {
  display: block;
  > h2 {
    display: inline-block;
    font-weight: 700;
    margin-top: 48px;
    margin-bottom: 24px;
    &.primary {
      font-size: 36px;
    }
    &.secondary {
      font-size: 28px;
      margin-top: 60px;
    }
  }
  > a { //should update to h6 as link
    padding: 12px 20px;
    margin-left: 16px;
    position: relative;
    bottom: 5px;
    text-decoration: none !important;
    color: var(--link-text);
    font-family: 'Lato';

    &:hover {
      background-color:var(--generic-hover) !important;
    }
    
    &:active {
      background-color:var(--generic-active) !important;
    }
  }
}
