@use '../../scss/grid';
@use 'node_modules/@ircc-ca/ds-sdc-core/tokens/sizes' as ircc-ds-sizes;
@import '../../scss/grid';

:host {
  position: relative;
  @include grid.col-12;
  > djl-icon {
    font-size: ircc-ds-sizes.$fixed-24;
    position: absolute;
    top: -64px;
    right: 26px;
    @include grid.un-laptop-layout {
      right: ircc-ds-sizes.$fixed-12;
    }
  }
  .sidenav-section-wrapper {
    position: fixed;
    height: calc(100% - 340px) !important;
    overflow-y: auto;
    min-width: 250px;

    @include in-laptop-layout {
      width: 25%
    }

    @include in-desktop-layout {
      // min-width: 220px;
      width: 15%;
    }
    
  }
  .menuItems {
    display: block;
    padding: 16px 12px 16px 12px;
    font-family: 'Lato', serif;
    font-size: 16px;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
  }

  a {
    border-radius: 4px;
    &:link {
      color:black;
      text-decoration: none;
    }
    &:focus {
      outline: var(--navigation) solid 1px !important;
    }
    &:hover {
      background: var(--navigation-weak);
    }
    &:visited {
      color:black;
      text-decoration: none;
    }
  }
}
