@use 'src/scss/grid';

:host {
  @include grid.row;
  > .content-doc-wrapper {
    @include grid.col-12;
    @include grid.up-laptop-layout {
      @include grid.col-12;
    }

    .wrapper-container {
      margin-top: 64px;

      .for-designers, .for-devs {
        width: 470px;
        height: 174px;
        border: 1px solid #DFDFE1;
        border-radius: 12px;
        padding: 0 24px 24px 20px;
        margin: 6px;

        @include grid.un-laptop-layout {
          width: 328px;
        }

        h3 {
          margin: 20px 0 0 0;
          font-weight: 700;
        }

        p {
          margin: 12px 0;
        }
      }
    }
  }
}
