<div class="content-doc-wrapper col-12 col-lg-10">
  <app-title-slug-url [translate]="'Overview.Heading'" type="primary">Overview</app-title-slug-url>
  <h2 class="sub-title emphasis" [style.margin-top]="0">{{'Overview.SubHeading' | translate}} </h2>
  <p>{{'Overview.Text' | translate}}</p>
  <div class="wrapper-container row">
    <div class="for-designers col-12 col-md-6">
      <h3>{{'Overview.DesignerHeading' | translate}}</h3>
      <p>{{'Overview.DesignerText' | translate}}</p>
      <jds-link routerLink="/{{currentLanguage}}/{{'ROUTES.forDesigners' | translate}}">{{'Overview.GetStartedHeading' | translate}}</jds-link>
    </div>
    <div class="for-devs col-12 col-md-6">
      <h3>{{'Overview.DeveloperHeading' | translate}}</h3>
      <p>{{'Overview.DeveloperText' | translate}}</p>
      <jds-link routerLink="/{{currentLanguage}}/{{'ROUTES.forDevelopers' | translate}}">{{'Overview.GetStartedHeading' | translate}}</jds-link>
    </div>
  </div>
</div>
