@use '../../../scss/grid';
@use '../../../../node_modules/@ircc-ca/ds-sdc-core/util/device' as ircc-ds-device;
@use '../../../../node_modules/@ircc-ca/ds-sdc-core/tokens/sizes' as ircc-ds-sizes;

:host {
  overflow: hidden;
  &.left-nav {
    @include ircc-ds-device.in-desktop-layout {
      @include grid.col-3;
      border-right: 1px solid var(--divider);
      margin-right: -1px;
    }
  }
  @include grid.col-12;
  @include ircc-ds-device.in-tablet-layout {
    @include grid.col-12;
  }
  > djl-icon {
    display: inline-block;
    font-size: ircc-ds-sizes.$fixed-24;
    margin-top: ircc-ds-sizes.$fixed-16;
    margin-left: ircc-ds-sizes.$fixed-4;
  }
  .sidenav-section-wrapper {
    overflow: hidden;
  }
}
