<div class="content-doc-wrapper col-12 col-lg-10">
  <app-title-slug-url [translate]="'Tokens.title.tokens'" type="primary">Button</app-title-slug-url>
  <p>{{'Tokens.content.token-desc' | translate}}</p>
  <app-title-slug-url [translate]="'LeftSideNav.sub-titles.colours'">Colours</app-title-slug-url>
  <p>{{'Tokens.content.colours-desc' | translate}}</p>
  <table>
    <tr>
      <th>{{'Tokens.sub-titles.style' | translate}}</th>
      <th>{{'Tokens.sub-titles.token-name' | translate}}</th>
      <th>{{'Tokens.sub-titles.colour-role' | translate}}</th>
      <th>{{'Tokens.sub-titles.figma-colour-style' | translate}}</th>
    </tr>
    <tr *ngFor="let color of colorSample">
      <td [innerHtml]="color.style | SafeHtmlPipe"></td>
      <td >{{color.tokenName}}</td>
      <td [innerHtml]="color.colorRole"></td>
      <td [innerHtml]="color.figmaStyle"></td>
    </tr>
  </table>
  <app-title-slug-url [translate]="'LeftSideNav.sub-titles.typography'">Typography</app-title-slug-url>
  <p>{{'Tokens.content.typography-desc' | translate}}</p>
  <app-title-slug-url [translate]="'Tokens.sub-titles.spacing'">Spacing</app-title-slug-url>
  <p>{{'Tokens.content.spacing-desc' | translate}}</p>
  <app-title-slug-url [translate]="'Tokens.sub-titles.breakpoints'">Breakpoints</app-title-slug-url>
  <p>{{'Tokens.content.breakpoints-desc' | translate}}</p>
</div>
<app-side-nav class="right-nav col-12 col-lg-2" [navBarData]="rightNavData"></app-side-nav>
