/* You can add global styles to this file, and also import other style files */

@use '~@ircc-ca/ds-sdc-core/index' as ircc-ds;

@media (prefers-color-scheme: dark) {
  @include ircc-ds.theme-init-required(ircc-ds.palette-journeylab(), default, large, dark);
}
@include ircc-ds.theme-init-required(ircc-ds.palette-journeylab(), default, large, light);

@include ircc-ds.element-styles();

app-root {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
}

jds-header {
  picture {
    min-width: 200px;
  }
}
