/* You can add global styles to this file, and also import other style files */

@use '../../node_modules/@ircc-ca/ds-sdc-core/index' as ircc-ds;
@use '../../node_modules/@ircc-ca/ds-sdc-core/util/color' as ircc-ds-color;
@use '../../node_modules/@ircc-ca/ds-sdc-core/tokens/sizes' as ircc-ds-sizes;
@use 'sass:map';
@import 'grid';
@import 'table';
@import '../../node_modules/@ircc-ca/ds-sdc-core/layout/layout-grid';

@media (prefers-color-scheme: dark) {
  @include ircc-ds.theme-init-required(ircc-ds.palette-journeylab(), default, large, dark);
}
@include ircc-ds.theme-init-required(ircc-ds.palette-journeylab(), default, large, light);

@include ircc-ds.element-styles();

// Enable Bootstrap row & column support.
@include make-grid-columns();

app-root {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
}

djl-header {
  picture {
    min-width: 295px;
  }
}

.content-area-responsive {
  align-items: flex-start !important;
  column-gap: 0 !important;
  border-top: 1px solid var(--divider);
  justify-content: flex-start !important;
  > app-side-nav.left-nav {
    @include up-laptop-layout {
      @include col-2;
    }
    @include in-desktop-layout {
      border-right: 1px solid var(--divider);
      margin-right: -1px;
    }
  }
  > :last-child {
    box-sizing: border-box;
    @include col-12;
    @include in-tablet-layout {
      @include col-12;
    }
    @include in-desktop-layout {
      padding: 0 ircc-ds-sizes.$fixed-4;
    }
    @include up-laptop-layout {
      @include col-10;
      padding: 0 ircc-ds-sizes.$fixed-36;
    }
    @include un-tablet-layout {
      app-side-nav {
        display: none;
      }
    }
  }
}

markdown {
  overflow: hidden;
  pre {
    overflow: auto !important;
  }
}

h5 {
  font-weight: 700 !important;
  &.text-underline {
    border-bottom: 1px solid;
    margin: 8px 0;
  }
  &.text-color-green {
    color: var(--success-text);
  }
  &.text-color-red {
    color: var(--critical-text);
  }
  &.round-purple-num {
    display: inline-block;
    margin-left: 8px;
    margin-top: 22px;
    margin-bottom: 0;
    position: relative;
    top: 2px;
  }
}

span {
  &.round-purple-num {
    color: ircc-ds-color.mix-token(visited, 900);
    font-weight: 700;
    background-color: ircc-ds-color.mix-token(visited, 200);
    padding: 9px 15px;
    border-radius:50%;
  }
}
