<div>
    <div class="header">
      <jds-header>
        <app-lan-switch></app-lan-switch>
      </jds-header>
      <h1 class="emphasis">{{ 'Overview.SubHeading' | translate }}</h1>
    </div>

    <div class="main-container top {{navStatus}}">
      <app-side-nav class="left-nav" [navBarData]="leftNavData" [mobileToggleIcon]="true"></app-side-nav>
      <div class="content" role="main">
        <div class="content-area-responsive">
          <div class="page-content">
            <router-outlet></router-outlet>
            <p>{{ 'Home.DateModified' | translate}}: 2023-1-19</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <jds-footer>
    </jds-footer>
  </div>
